<script src="~/Scripts/eAzolution/Sales/Computer/ComputerSummary.js"></script>
<div class="leftDiv">
    <fieldset class="k-content">
        <legend class="k-fontsize[15]">Computer Summary </legend>
        <div id="cmpSummaryDiv" class="divSummary">
        </div>
    </fieldset>
</div>
