<script src="~/Scripts/eAzolution/LaptopJs/LaptopSummary.js"></script>

<div class="leftDiv">
    <fieldset class="k-content">
        <legend class="k-fontsize[15]">Laptop Summery </legend>
        <div id="LpSummaryDiv" class="divSummary">
        </div>
    </fieldset>
</div>
